<header class="header">
  <div class="header-content">
    <div class="header-logo">
      <img src="../../../assets/images/logo.png" alt="Sinco ERP" srcset="">
    </div>
    <div class="header-content-right">
      <div class="header__account">
        <span class="icon"><img src="../../../assets/images/icon-user.png" alt="avatar-usuario" srcset=""></span>
        <p class="user">Mario Alberto</p>
      </div>
      <div class="header__logout">
        <a href="/">Salir</a>
      </div>
    </div>
  </div>
</header>