/*========= ICONS ======*/

.icon-angle{
    &:before{
        content: $icon-angle;
    }
}

.icon-info{
    &:before{
        content: $icon-info;
    }
}

.icon-search{
    &:before{
        content: $icon-search;
    }
}
  